.analysisBoard{
  width: 100%;
  min-height: 50px;
  border: solid $border__color 1px;
  border-radius:5px;
  padding: 10px;
  margin-bottom:0.975rem;

  .columns:first-child{
    padding-left: 0 !important;
  }
  .columns:last-child{
    padding-right: 0 !important;;
  }
  .columns{
    padding-top: 0 !important;
    padding-bottom: 0 !important;
  }
  .row{
    margin-bottom: 0 !important;
  }

  .analysisBoard__details{
    width: 100%;
    min-height: 250px;
    max-height: 250px;
    border: solid $border__color 1px;
    border-radius:5px;
    padding: 10px;
    margin-top:0.975rem;
    overflow: auto;
  }
}

.analysisBoard:last-child{
  margin-bottom: 0;
}