.body{
  .body__row{
    height: 100vh;
    max-width: 100%;
    margin: 0;
    .columns{
      margin: 0;
      padding: 0;
    }
  }

  .breadcrumbs{
    color: $text-color;
    background-color:#fefefe;
    padding: 1rem 2.5rem 1rem 2.5rem;
    box-shadow: 0px 0px 7px rgba(128, 128, 128, 0.32);
 }

  .mainContent{
    color: $text-color;
    margin: $header-total 2.5rem 1rem 2.5rem;
    .row{
      margin: inherit;
      .columns{
        padding: 0.975rem;
      }
    }

  }
}