.sidebar{
  position: fixed;
  z-index: 1;
  margin-top: $header-size;
  background-color: $sidebar__color;
  height: 100%;
  width: $sidebar-width;
  color: white;
  overflow: hidden;


  a,a:hover,a:active,a:visited{
    color: white
  }
  a:hover{
    box-shadow: inset 7px 0 0 0 white;
  }
  a:active{
    transition: background-color 100ms ease;
    background-color: $sidebar__color-darker;
  }

  .menu.nested{
    background-color: $sidebar__color-dark;
    margin-left: 0;

    .nested__item{
      margin-left: 1rem;
    }
  }

}