.sourceEdit{

  table{
    td{
      input{
        margin: 0;
        height: 24px;
        width: 170px;
      }
    }

    button{
      margin-bottom: 0;
    }

  }

  .sourceEdit__search{
    button{
      width: 100%;
    }
    .columns:first-child{
      padding-left: 0 !important;
    }
    .columns:last-child{
      padding-right: 0 !important;;
    }
  }


}