.sourceAddSub{
  .button{
    margin-left: 5px;
    float:right;
  }

  .sourceAddSub__crawlerResults{
    min-height: 50px;
    max-height: 200px;
    width: 100%;
    border:solid $border__color 1px;
    padding: 5px;
    overflow: auto;
  }

  .checkbox{
    label{
      float:left;
      margin-right:5px;
    }
  }
}