.usersEdit{

  table{
    td{
      input{
        margin: 0;
        height: 24px;
        width: 170px;
      }
    }
  }
  .usersEdit__search{
    .columns:first-child{
      padding-left: 0 !important;
    }
    .columns:last-child{
      padding-right: 0 !important;;
    }
  }
}