@font-face {
  font-family: 'Tiresias';
  src: url('../../assets/fonts/Tiresias.ttf');
}

@font-face {
  font-family: 'Montserrat-Thin';
  src: url('../../assets/fonts/Monteserrat/Montserrat-Thin.otf');
}

@font-face {
  font-family: 'Montserrat-Light';
  src: url('../../assets/fonts/Monteserrat/Montserrat-Light.otf');
}

@font-face {
  font-family: 'Montserrat-ExtraLight';
  src: url('../../assets/fonts/Monteserrat/Montserrat-ExtraLight.otf');
}

@font-face {
  font-family: 'Montserrat-Regular';
  src: url('../../assets/fonts/Monteserrat/Montserrat-Regular.otf');
}

@font-face {
  font-family: 'Montserrat-Medium';
  src: url('../../assets/fonts/Monteserrat/Montserrat-Medium.otf');
}

@font-face {
  font-family: 'Montserrat-Bold';
  src: url('../../assets/fonts/Monteserrat/Montserrat-Bold.otf');
}