form{
  .dropdown{
    margin-bottom: 1rem;
    .dropdown__error{
      .rw-widget-container{
        border-color: red !important;
      }
    }
    .dropdown__error-text{
      color: red;
    }

    .dropdown__error-message{
      position: relative;
      top:5px;
      color:red;
    }
  }
}