.login{
  height: 100vh;
  width: 100%;
  background:url("../../assets/users/background.jpg") fixed center no-repeat;
  display:flex;
  flex-direction:row;
  flex-wrap:nowrap;
  justify-content:center;
  align-items:center;
  align-content:center;

  .login__space{
    background-color: rgba(255,255,255,0.7);
    padding: 25px 50px 25px 50px;
    width:500px;
    heigh:500px;

    .login__space-button{
      text-align: right;
    }
  }
}