$navbar__color: rgb(35, 39, 51);
$sidebar__color: #666;
$sidebar__color-dark: #333;
$sidebar__color-darker: #222;

$border__color: #b3b3b3;

$text-color: #666666;

$blue: #2391e9;
$light-blue: #b2cfe9;
$grey: #eaeaea;

$font-size: 2rem;
$font-size-big: 3rem;

$font-bold: 'Montserrat-Bold', arial, sans-serif !important;
$font-normal: 'Montserrat-Regular', arial, sans-serif !important;
$font-light: 'Montserrat-Light', arial, sans-serif !important;

$distance-default: 0.9375rem;

$header-size:72px;
$header-total:72px+56px;
$sidebar-width:15rem;