@import 'Fonts/_fonts.scss',
'constants',
'./Login/login',
'./Forms/inputs',
'./Forms/dropdown',
'./Elements/tables',
'./Elements/elements',
'./Elements/switch',
'./Elements/collapsible',
'./Elements/searchFilter',
'./Elements/calendarFilter',
'./Elements/breadcrumbs',
'./Header/header',
'./Body/body',
'./Body/home',
'./Body/usersEdit',
'./Body/sourceAdd',
'./Body/sourceAddSub',
'./Body/sourceEdit',
'./Body/usageAnalysis',
'./Body/analysisBoard',
'./Body/servers',
'./Body/sidebar',
'../../../node_modules/react-widgets/dist/css/react-widgets.css',
'../../../node_modules/rc-slider/assets/index.css',
'../../../node_modules/foundation-icons/foundation-icons.css',
'../../../node_modules/foundation-sites/scss/foundation',
'../../../node_modules/font-awesome/css/font-awesome.css';


@include foundation-everything;
@include foundation-flex-grid;
@include foundation-flex-classes;
@include foundation-reveal;

body {
  margin: 0;
  padding: 0;
  font-family: $font-light;
}