.calendarFilter{

  .blindInput{
    width: 0;
    height: 0;
    position: absolute;
    top:-100px;
    left:-100px;
    background-color: transparent;
    border: none;
    box-shadow: none;
  }
  .columns:first-child{
    padding: 0 0.975rem 0 0 !important;
  }
  .columns:last-child{
    padding: 0 0 0 0.975rem !important;;
  }

  .calendarFilter__DatePicker{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: flex-start;

    .calendarFilter__icon{
      font-size: 1.3rem;
      background-color: #d5d5d5;
      width: 38px;
      height: 38px;
      order: 0;
      flex: 0 1 auto;
      align-self: auto;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: center;
      align-content: center;
      align-items: center;
    }

    .calendarFilter__delete{
      position: relative;
      right: 20px;
      bottom: -8px;
      color: red;
      background-color: white;
      cursor: pointer;

      i{
        position: absolute;
      }

      &:hover{
        color: darkred;
      }
    }

    .rw-datetime-picker{
      width: 100%;
      height: 38px;
      input{
        height: 38px;
        margin:0 !important;
      }
      .rw-widget-picker{
        height: 38px;
        border-bottom-left-radius: 0;
        border-top-left-radius: 0;
        border:none;
      }
    }

    .rw-select{
      display: none;
    }
  }
}