.Collapsible{
  background-color: $blue;

  .Collapsible__trigger{
    color: white;
    cursor: pointer;
    display: block;
    padding: 10px;
    border-bottom: solid white 2px;

    &:after {
      font-family: 'FontAwesome';
      content: '\f107';
      position: relative;
      left: 10px;
      transition: transform 300ms;
    }

    &.is-open {
      &:after {
        transform: rotate(180deg);
      }
    }

    &.is-disabled {
      opacity: 0.5;
      background-color:$grey;
    }
  }

  .Collapsible__contentInner{
    border-bottom: solid white 2px;
    background-color: $grey;
    padding: 10px 10px 10px 20px;

    p {
      margin-bottom: 10px;
      font-size: 14px;
      line-height: 20px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}