.title-big{
  font-size: 1.5rem;
  font-family: $font-light;
  margin-bottom: 1rem;
}

.title{
  font-family: $font-bold;
  margin-bottom: 1rem;
}

.font-bold{
  font-family: $font-bold;
}

.font-normal{
  font-family: $font-normal;
}

.font-light{
  font-family: $font-light;
}

.blue{
  color: $blue;
}


.menuItem{
  .menuItem__icon{
    margin-right: 10px;
  }
  .menuItem__expand{
    float: right;
  }
}
