.searchFilter{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: flex-start;

  .searchFilter__icon{
    background-color: #d5d5d5;
    width: 38px;
    height: 38px;
    order: 0;
    flex: 0 1 auto;
    align-self: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: center;
    align-items: center;

  }

  .searchFilter__delete{
    position: relative;
    right: 40px;
    bottom: -8px;
    color: red;
    cursor: pointer;

    i{
      position: absolute;
    }

    &:hover{
      color: darkred;
    }
  }

  .rw-dropdown-list{
    width: 100%;
    order: 0;
    flex: 0 1 auto;
    align-self: auto;

    .rw-widget-input{
      border-bottom-left-radius: 0;
      border-top-left-radius: 0;
    }
  }
}