.header{
  position: fixed;
  height: $header-size;
  width: 100%;
  overflow: hidden;
  z-index: 1;

  .navbar{
    color: white;
    background-color: $navbar__color;

    .menu {
      background-color: transparent;
    }
  }

  .navbar__userImage{
      border-radius: 50%;
      height: 40px;
      width: auto;
      margin-left: 10px;
      margin-right: 10px;
      box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
  }

  .navbar__title{
    img{
      height: 40px;
      width: auto;
    }
  }
}